# Node
**/node_modules
**/dist

# .NET
**/bin
**/obj
**/publish

# Backend (relative)
/backend/**/bin
/backend/**/obj
/backend/**/publish

# Specific path
/backend/src/CoffeeDashboard.Api/obj

# OS
.DS_Store
Thumbs.db
/.vs
/backend/.vs/CoffeeDashboard/v18
